.colorsPanel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px;
}
.colorElem{
  padding: 16px;
  border: 1px solid #000;
}
.colorElem:hover{
  cursor: pointer;
}
.boards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
}
.boardContainer{
  margin: 24px;
}
.full{
  width: 100%;
}