.boards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
}
.boardContainer{
  margin: 24px;
}
.full{
  width: 100%;
}