.boards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.boardContainer{
  margin: 24px;
}
.statrBoard{
  max-width: 400px;
  margin: 0 auto;
}