<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <app-board-control></app-board-control>
  <app-color-panel></app-color-panel>
 
  <div class="statrBoard">
    <app-board class="boardContainer" [gameBoard]="gameService.startBoard"></app-board>
  </div>
  <div class="boards">
    <app-board class="boardContainer" *ngFor="let board of gameService.humanMoves " [gameBoard]="board"></app-board>
  </div>
  <div class="boards">
    <app-board class="boardContainer" *ngFor="let board of gameService.aStarAlgo.solution" [gameBoard]="board"></app-board>
  </div>
  <div class="boards">
    <app-board class="boardContainer" *ngFor="let board of  gameService.backtrack.solution" [gameBoard]="board"></app-board>
  </div>
  <div class="boards">
    <app-board class="boardContainer" *ngFor="let board of gameService.ammarAlgo.solution" [gameBoard]="board"></app-board>
  </div>
</div>