<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <input [(ngModel)]="boardDim" type="text" placeholder="enter board dimention" required>
  <input [(ngModel)]="colorsNumber" type="text"  placeholder=" enter colors number" required>
  <button (click)="initBoardHandler()">Initialize Board</button>
  <button (click)="solveHandler()">Solve</button>
  <div class="colorsPanel">
    <div class="colorElem" *ngFor="let color of colorsPanel" (click)="colorElemHandler(color)" [ngStyle]="setColorDivBackground(color)">
      {{color}}
    </div>
  </div>
  <div class="boards">
    <app-board class="boardContainer" *ngFor="let board of gameBoards" [gameBoard]="board"></app-board>
  </div>
</div>
