<div class="boardControl">
  <!-- <div>
    <mat-form-field>
      <mat-select placeholder="Board Dimension" [(value)]="gameService.boardDim" (change)="gameService.initGame()">
        <mat-option *ngFor="let dimensionOp of dimensionOps" [value]="dimensionOp.value">
          {{ dimensionOp.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Color Number" [(value)]="gameService.colorsNumber" (change)="gameService.initGame()">
        <mat-option *ngFor="let colorOp of colorOps" [value]="colorOp.value">
          {{ colorOp.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div>
    <button mat-raised-button color="primary" (click)="gameService.solveAStarClicked()">Computer Solve</button>
    <button mat-raised-button (click)="gameService.initGame()">Reset</button>
    <!-- <button mat-raised-button color="primary" (click)="gameService.solveBackTrackClicked()">BackTrack</button> -->
  </div>
</div>